{
  "parser": "babel-eslint",
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prefer-destructuring": ["error"],
    "prettier/prettier": ["error", { "singleQuote": true, "endOfLine": "auto" }]
  }
}
